.add-product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;

  .form-group {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    width: 100%;
    // background-color: red;

    label {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }

    input,
    textarea {
      padding: 0.75rem 1rem;
      background-color: transparent;
      border: none;
      border: 1px solid black;
      border-radius: 1rem;
      width: 100%;
    }

    button {
      width: 100%;
      margin-top: 2rem;

      &:nth-last-of-type(1) {
        background-color: transparent;
        color: black;
        border: 1px solid black;
      }
    }
  }
}
