.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    &__content{
        h1{

        }
    }
}

.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    &__content{
        h1{

        }
    }
}