.orders__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 5rem;
    h1 {
      font-weight: 300;
      font-size: 2.5rem;
      text-align: center;
      span {
        display: block;
        font-size: 5rem;
      }
    }

    &__order{
        display: flex;
        border: 1px dashed black;
        padding: 2rem;
        gap: 2rem;
        scale: 1.2;
    }
  }
}
